<div class="main-container">
    <div class="row">
        <input type="text" class="to-do-input" name="" id="" aria-describedby="helpId" placeholder="{{inputPlaceHolder}}" autofocus>
    </div>
    <div class="row to-do-list-section">
        <div class="row to-do-list-item">
            <div class="form-check my-auto">
                <input type="checkbox" class="form-check-input to-do-check" name="" id="" value="checkedValue" checked>
              <label class="to-do-check-label">ToDo</label>
            </div>
            <button type="button my-auto" class="btn to-do-remove">X</button>
        </div>
        <div class="row to-do-list-remaining">
            <h6 class="my-auto">1 items Left</h6> 
        </div>
    </div>
</div>